body{
    font-family: ;

}

/*
header
*/

header{
    background-color: #040506;
    height: 733px;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

/*
navigationbar
*/

.navigation{
    display: flex;
    margin-top: 30px;
}

.navbar{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #040506;
}

.nav-links{
    margin-left: auto;
    margin-right: 30px;
}

.nav-links ul{
    list-style: none;
    display: inline-flex;
    gap: 70px;
}

.nav-links .active{
    font-size: larger;
    font-weight:bolder;
    text-decoration: underline #F7F5F4;
}

.nav-links ul li a{
    color: #F7F5F4;
    text-decoration: none;
}

.search-bar{
    margin-right: auto;
    display: inline-flex;
    padding: 10px;
    border: solid #F7F5F4 1px;
    border-radius: 50px;
    background-color: black;
    width: 200px;
    height: 15px;
    margin: auto;
}

.search-bar img{
    width: 30px;
    height: 30px;
    margin-top: -6px;
    margin-bottom: auto
}

.search-bar input[type=text]{
    height: 15px;
    border-radius: 50px;
    background-color: #040506;
    border: none;
}

.user-profile img{
    margin:auto;
    width: auto;
    height: 45px;
}


/*
main header
*/

.main-header{
    display: flex;
    width: 32px;
    margin-top: 50px;
    margin-left: 100px;
}

.line{
    padding: 1px;
    margin-right: auto;
    margin-left: auto;
    width: 0.7px;
    background-color: #F7F5F4;
    height: 329px;
    margin-bottom: 5px;
}

.social-links img{
    width: 30px;
    height: 30px;
    margin-top: 10px;   
}

/*
main header h1
*/

.main-header .text-vector{
    margin: 120px;
}

.main-header .text-vector img{
    width: 457px;
    height: 238px;
}

/*
header button
*/

.text-vector .header-button{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    margin-left: 55px;
}

.text-vector .header-button .e-more , .s-down{
    display: inline-flex;
    align-items: center;
    color: #040506;
    text-align: center;
    height: 42px;
    width: 200px;
    text-decoration: none;
    background-color: #FDC63E;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    margin-bottom: 20px;
}

.e-more p, .s-down p{
    margin-left: 20px;
    margin-right: auto;
}

.text-vector .header-button img , .s-down img{
    margin-left: auto;
    width: 33px;
    height: 33px;
    margin: 1px;
}

.s-down{
    background-color:#F7F5F4
}

.s-down img{
    transform: rotate(90deg);
}