body {
    background-color: #040506;
    font-family: sans-serif;
}

.full-header {
    background-color: #040506;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    display: flex;
    padding-top: 30px;
}

.navbar {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    background-color: #040506;
    gap: 920px;
}

/*
banner
*/
.signup-container {
    display: flex;
    width: 1100px;
    margin-top: 50px;
    margin-left: 100px;
    gap: 50px;
}

.line {
    padding: 1px;
    margin-right: auto;
    margin-left: auto;
    width: 0.7px;
    background-color: #F7F5F4;
    height: 329px;
    margin-bottom: 5px;
}

.social-links {
    width: 30px;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

/*
bannner-image
*/

.banner img {
    width: 650px;
    margin-top: -150px;
}

/*
form
*/

.signup-form {
    margin-left: 50px;
    margin-top: 50px;
    color: #F7F5F4;
}

input[type=password],
input[type=email] {
    width: 350px;
    padding: 10px 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #F7F5F4;
    color: #040506;
    border-radius: 50px;
    text-decoration: underline;
}

::placeholder {
    margin-left: 5px;
}

form p {
    text-align: center;
    color: #f7f5f48b;
    margin-top: 0;
}

.signup-form a{
    color: #FDC63E;
    font-weight: bold;
}

/*
login section 2
*/

.section-2{
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-bottom: 20px;
}

form .section-2 a{
    color: #F7F5F4;
    font-weight: bold;
}

/*
register button
*/

form .register-button {
    background-color: #FDC63E;
    color: #040506;
    padding: 8px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color: #FDC63E;
    border: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-weight: bold;
}

.register-button img{
    width: 30px;
    margin-right: auto;
}


/*
footer
*/

.footer-1{
    display: flex;
    background-color: #040506;
    border-radius: 100px 100px 0px 0px;
    margin-top: 50px;

}

footer{
    height: 300px;
    color: #F7F5F4;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}



footer .component{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
}

footer .first{
    width: 400px;
}

footer .text-1{
    margin-top: 30px;
}

footer .text-1 .bold{
    font-weight: bolder;
    font-size: large;
}

footer .copiright p{
    margin-top: 70px;
}

footer .social{
    margin-top: 50px;
}

footer .second{
    width: 500px;
}

footer .second img{
    position: relative;
    top: 70px;
    width: 400px;
}

footer .page{
    margin-left: -230px;
    position: relative;
    display: flex;
    gap: 50px;
}

footer .page li{
    display: inline;
    list-style: none;
}

footer .page ul{
    display: flex;
    gap: 50px;
}

footer .page li a{
    text-decoration: none;
    color: #F7F5F4;
    font-size: 20px;
    font-weight: bolder;
    margin-right: 20px;
}

footer .button img{
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
}

footer .button .b-1 img{
    transform: rotate(-90deg)
}

footer .button {
    display: inline-flex;
    gap: 10px;
    margin-top: 30px;
}

footer .button p{
    margin-left: 20px;
    margin-right: auto;
    font-size: 15px;
    font-weight: bolder;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
}

footer .button .b-1, footer .button .b-2{
    background-color: #FDC63E;
    height: 40px;
    border-radius: 50px;
    display: inline-flex;
    gap: 10px;
    color: #040506;

}

footer .button .b-1{
    background-color: #F7F5F4;
}

footer .social{
    display: flex;
    margin-left: -50px;
    position: relative;
}

footer .social p{
    margin-right: 80px;
    font-size: 15px;
    font-weight: bolder;
}

footer .social img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}